                    body {
                        background-color: gainsboro;
                        color: #000;
                        margin-left: 1em;
                    }
                    
                    h1 {
                        font-family: "Origins", "Palatino", "Book Antiqua", serif;
                        font-weight: bold;
                        font-size: 48pt;
                        margin-top: 24pt;
                        line-height: 120%;
                        margin-bottom: -24pt;
                        color: rgb(100, 10, 10);
                    }
                    
                    h1 span {
                        text-decoration: line-through
                    }
                    
                    p {
                        font-size: 14pt;
                        text-indent: 5em;
                        text-align: justify;
                        max-width: 25em;
                        margin-left: 100px;
                        margin-right: auto;
                    }
                    
                    .intro {
                        text-align: center;
                        font-style: italic;
                        color: #666;
                        text-indent: 0em;
                    }
                    
                    p.intro:first-line {
                        font-variant: small-caps;
                    }